//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;






// Basic Button Style
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: #f9b966;
  border: 5px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: rgb(7, 7, 7);
    outline: 0;
  }
}


// BUTTON 4
.fourth {
  // background: $yellow;
  border-color: $yellow;
  color: rgb(3, 3, 3);
  background: {
    image: linear-gradient(45deg,$red 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}



