
  <!-- <app-food-loader></app-food-loader> -->
  <div class="alert alert-warning " role="alert">
    <div class="display-3" style="color: black;"> Welcome to FoodRoullete!</div>
    <div class="lead mb-3" style="color: black;"> Choose between breakfast, lunch or dinner and let us give you some options </div>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.ecestaticos.com/image/clipping/1eda44daf5f75ca868b7eb9bf93396e4/opening.jpg" style="height: 600px;" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="alert bg-tono3">
              <h1 class="display-1" style="color: black;">BREAKFAST</h1>
              <p class="lead" style="color: black;">This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://dam.cocinafacil.com.mx/wp-content/uploads/2020/04/comida-china-tipica.jpg" style="height: 600px;" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="alert bg-tono3">
              <h1 class="display-1" style="color: black;">LUNCH</h1>
              <p class="lead" style="color: black;">This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://hablemosdeculturas.com/wp-content/uploads/2017/11/Comida-mexicana-14.jpg"  style="height: 600px;"class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="alert bg-tono3 ">
              <h1 class="display-1" style="color: black;">DINNER</h1>
              <p class="lead" style="color: black;">This is a description for the third slide.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <hr>
    <div class="row">
      <div class="col text-center">
        <button class="btn fourth" data-toggle="modal" data-target="#breakfastModal" (click)="getRandBreakfast()" > BREAKFAST </button>
      </div>
      <div class="col text-center">
        <button class="btn fourth" data-toggle="modal" data-target="#lunchModal" (click)="getRandLunch()"> LUNCH </button>
      </div>
      <div class="col text-center">
        <button class="btn fourth" data-toggle="modal" data-target="#dinnerModal" (click)="getRandDinner()"> DINNER </button>
      </div>
    </div>

  </div>

<!-- Modal breakfast -->
<div class="modal fade" id="breakfastModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Looking for breakfast!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf = "isLoading">
        <app-food-loader ></app-food-loader>
      </div>
      <div class="modal-body " *ngIf = "!isLoading">
        <div class="row ">
          <h1 style="margin: 0 auto;">{{recipes[0].title}}</h1>
        </div>
        <div class="row">
          <img src="{{recipes[0].imagePath}}" style="height: 250px; margin: 0 auto;" alt="comida">
        </div>
        <div class="row ">
          <a [routerLink]="['/home/oneRecipe',recipes[0]._id]" class="btn btn-primary mt-2" style="margin: 0 auto;" data-dismiss="modal">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal lunch -->
<div class="modal fade" id="lunchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Looking for lunch!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  *ngIf = "isLoading">
        <app-food-loader></app-food-loader>
      </div>
      <div class="modal-body " *ngIf = "!isLoading">
        <div class="row ">
          <h1 style="margin: 0 auto;">{{recipes[0].title}}</h1>
        </div>
        <div class="row">
          <img src="{{recipes[0].imagePath}}" style="height: 250px; margin: 0 auto;" alt="comida">
        </div>
        <div class="row ">
          <a [routerLink]="['/home/oneRecipe',recipes[0]._id]" class="btn btn-primary mt-2" style="margin: 0 auto;" data-dismiss="modal">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal dinner -->
<div class="modal fade" id="dinnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Looking for dinner!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  *ngIf = "isLoading">
        <app-food-loader></app-food-loader>
      </div>
      <div class="modal-body " *ngIf = "!isLoading">
        <div class="row ">
          <h1 style="margin: 0 auto;">{{recipes[0].title}}</h1>
        </div>
        <div class="row">
          <img src="{{recipes[0].imagePath}}" style="height: 250px; margin: 0 auto;" alt="comida">
        </div>
        <div class="row ">
          <a [routerLink]="['/home/oneRecipe',recipes[0]._id]" class="btn btn-primary mt-2" style="margin: 0 auto;" data-dismiss="modal">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
