.ama{
  background-color: #FFF3CD;
}
.carousel-indicators {
  display: none;
}

.card-img-topa {
  max-width: 250px;
  height: 200px;
}


.card-body {
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}
