<div class="card mb-4 ama" >
  <div class="card-header">
    <h3 class="">{{cardCategoryName}}</h3>
  </div>
  <div class="">
    <div class="container-fluid py-2">
      <div class="d-flex flex-row flex-nowrap" style="overflow-x: scroll;">
        <div *ngFor="let card of recipes; let cardIndex = index">
          <div class="card m-2" style="width: 250px;">
            <img class="card-img-topa" [src]="card.imagePath" alt="Card image cap">
            <div class="p-3">
              <h5 class="card-title ">{{card.title}}</h5>
              <p class="card-text">{{card.meal}}</p>
              <a [routerLink]="['/home/oneRecipe',card._id]" class="btn btn-success mr-4" style="float: right;">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
