<div class=" row justify-content-center mt-5">
  <div class=" col-lg-6 col-md-7">
    <div class=" card bg-light border-0 mb-5">
      <div class="card-header bg-light">
        <h1 class="text-center"> CREATE NEW RECIPE</h1>
      </div>
      <div class=" card-body px-lg-5 py-lg-5">
        <div >
          <form #RecipeForm="ngForm" role="form" class="ng-untouched ng-pristine ng-valid" (ngSubmit)="onSubmit(RecipeForm)">
            <div class="form-group">
              <label for="formGroupExampleInput">Title</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="La tortilla que baila" name="title" ngModel required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="One of the best tortillas" name="description" ngModel required></textarea>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Image url</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="url" [(ngModel)]="imageUrl" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Image preview</label>
              <hr>
              <div>
                <img src="{{imageUrl}}" alt="preview" style="height: 100%; width: 100%;">
              </div>
            </div>
            <div class="form-group">
              <label for="inputState">Category</label>
              <select id="inputState" class="form-control" name="category" ngModel required>
                <option selected>Choose...</option>
                <option value="Mexico">Mexico</option>
                <option value="Asia">Asia</option>
                <option value="Spain">Spain</option>
                <option value="French">French</option>
                <option value="Italian">Italian</option>
                <option value="South America">South America</option>
              </select>
            </div>
            <div class="form-group">
              <label for="input4">Meal type</label>
              <select id="input4" class="form-control" name="meal" ngModel required>
                <option selected>Choose...</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Ingridients</label>
              <div class="form-row align-items-center">
                <div class="col-5">
                  <div class="input-group">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Ingridient</label>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ingridient" #nameIngridient>
                  </div>
                </div>
                <div class="col-5">
                  <div class="input-group">
                    <label class="sr-only" for="inlineFormInputName">Amount</label>
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Amount" #amountIngridient>
                  </div>
                </div>
                <div class="col-auto">
                  <button type="button" (click)="addIngridient()" class="btn btn-success">Add</button>
                </div>
              </div>
              <ul class="list-group">
                <li *ngFor="let ingridient of ingridientsList; let i = index"  class="list-group-item my-1">
                  <span class="name">{{ingridient.name}}</span> -- <span class="name">{{ingridient.amount}}  </span>
                  <button class="btn btn-danger" type="button" style="float: right;" (click)="onDelete(i)">Delete</button>
                </li>
              </ul>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea2">Instructions</label>
              <textarea class="form-control" id="exampleFormControlTextarea2" rows="10" name="instructions" ngModel required></textarea>
            </div>
            <hr>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary my-4"
                  [disabled]="!RecipeForm.valid">
                  Submit Recipe
                </button>
              </div>
              <div *ngIf = "isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
              </div>
              <!-- <div *ngIf="error" role="alert" class="alert alert-warning">
                <span class="alet-text"> <strong>Error!</strong>, no hay respuesta del servidor, contactar a Ops2Tech</span>
              </div>  -->
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
