/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  background-color: #fbe083;
  background:url('src/assets/food2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.bg-tono1{
  background-color: #b13f0a;
}

.bg-tono2{
  background-color: #f9b966;
}

.bg-tono3{
  background-color: #fbe083;
}

.bg-tono4{
  background-color: #a1cca5;
}

.nav-item {
  margin: 1rem 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.card {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  border:1px solid #f0f1f3;

}

