
<div class="row bg-success">
  <button type="button" [routerLink]="['/home/createRecipe']" class="btn btn-success btn-lg btn-block m-auto">Add new recipe</button>
</div>
<div class="row my-3">
  <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3" style="margin: 2rem auto;" *ngFor="let recipe of recipies; let i = index">
    <div class="card" style="width:100%;">
      <img class="card-img-top" style="height: 300px;" [src]="recipe.imagePath" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Title: {{recipe.title}}</h5>
        <p class="card-text" id="content"> Category: {{recipe.category}}</p>
        <p class="card-text" id="content"> Meal: {{recipe.meal}}</p>
        <div class="row">
          <div class="col text-center">
            <a [routerLink]="['/home/oneRecipe',recipe._id]" class="btn btn-primary">View</a>
          </div>
          <div class="col text-center">
            <a [routerLink]="['/home/modifyRecipe',recipe._id]" class="btn btn-warning right" data-toggle="modal" data-target="#modalModify">Edit</a>
          </div>
          <div class="col text-center">
            <a  class="btn btn-danger right"(click)="onDeleteRecipe(recipe._id,i)" >Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

