<div class=" container ">
  <div class=" row justify-content-center mt-5">
    <div class=" col-lg-6 col-md-7">
      <div class=" card bg-light border-0 mb-0 ">
        <div class=" card-body px-lg-5 py-lg-5">
          <div *ngIf="mode == 'login'">
            <div class="alert alert-danger" *ngIf="error">
              <small>{{error}}</small>
            </div>
            <div class=" text-center  mb-5">
              <h2> Iniciar Sesión </h2>
            </div>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)"  role="form">
              <div
                class="form-group mb-3"
              >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Correo electrónico"
                    type="email"
                    ngModel
                    name="email"
                    required
                    email
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Contraseña"
                    type="password"
                    ngModel
                    name="password"
                    required
                  />
                </div>
              </div>
              <hr>
              <div class="text-center">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!authForm.valid" type="submit">Sign in</button>
              </div>
              <div *ngIf = "isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
              </div>
            </form>
          </div>
          <div *ngIf="mode == 'message'">
            <div class=" text-center text-muted mb-4">
              <h2> Link Enviado </h2>
              <br>
              <small> Revisa tu correo para acceder al link y poder cambiar tu contraseña. Te recomendamos también checar la carpeta de Spam/Correo No Deseado.</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
