<div class=" row justify-content-center mt-5">
  <div class=" col-lg-6 col-md-7">
    <div class=" card bg-light border-0 mb-5 ">
      <div class="card-header p-0 text-center">
        <img [src]="recipe.imagePath" class="p-2" style="width: 75%; height: 75%;">
      </div>
      <div class=" card-body px-lg-5 py-lg-5">
        <h4 class="h3"><strong>Title: </strong>{{recipe.title}}</h4>
        <p class="h3"><strong>Category: </strong>{{recipe.category}}</p>
        <p class="h3"><strong>Meal: </strong>{{recipe.meal}}</p>
        <p class="h3"><strong>Description: </strong>{{recipe.description}}</p>
        <hr>
        <div class="row">
          <div class="col text-center" (click)="showIng()" [ngClass]="{'selected': showIngridients}">
            <h3>Ingridients</h3>
          </div>
          <div class="col text-center" (click)="showInst()" [ngClass]="{'selected': !showIngridients}">
            <h3>Instructions</h3>
          </div>
        </div>
        <hr>
        <div *ngIf="showIngridients">
          <ul>
            <li *ngFor="let ingridient of recipe.ingridients">{{ingridient.name}} - {{ingridient.amount}}</li>
          </ul>
        </div>
        <div *ngIf="!showIngridients">
          <textarea  style=" width: 100%; height: 250px; overflow: scroll;" >{{recipe.instructions}}</textarea>
        </div>
      </div>
    </div>

  </div>
</div>
