.card {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  border:1px solid #f0f1f3;

}

.selected {
  background-color: tomato;
}

.col:hover{
  background-color: rgba(128, 128, 128, 0.596);
}
