<!-- Image and text -->
<nav class="navbar navbar-dark bg-tono1" style="min-height: 100px;">
  <a class="navbar-brand"  [routerLink]="['/home']"  >
    <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    FoodRoullete
  </a>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
