

<app-category-carousel [cardCategoryName] = "catMex"   ></app-category-carousel>
<app-category-carousel [cardCategoryName] = "catChin"  ></app-category-carousel>
<app-category-carousel [cardCategoryName] = "catEsp"   ></app-category-carousel>
<app-category-carousel [cardCategoryName] = "catFran"  ></app-category-carousel>
<app-category-carousel [cardCategoryName] = "catIta"  ></app-category-carousel>
<app-category-carousel [cardCategoryName] = "catSame" ></app-category-carousel>

<!-- style="width: 400px; height: 300px;" -->
